streamlit==1.39.0
langchain==0.3.15
langchain-community==0.3.15
langchain-huggingface==0.1.0
openai==1.59.3
python-dotenv==1.0.1
pandas==2.2.3
matplotlib==3.9.4
seaborn==0.13.2
fpdf==1.7.2
pillow==10.4.0
faiss-cpu== 1.8.0.post1
sentence-transformers==3.1.1
openpyxl==3.1.5
xlrd==2.0.1
unstructured==0.17.2
pytesseract==0.3.13